# ======================
# Python
# ======================
__pycache__/
*.pyc
*.pyo
*.pyd
.venv/
venv/

# ======================
# Entorno / secretos
# ======================
.env

# ======================
# Bases de datos
# ======================
*.db

# ======================
# Node (solo si se usa en dev)
# ======================
node_modules/
package-lock.json

# ======================
# OS / Editor
# ======================
.DS_Store
Thumbs.db
.vscode/

# ======================
# Logs
# ======================
*.log

# ======================
# Excepciones
# ======================
# NO ignorar imágenes del ajedrez
!static/img/chess/*.svg


# IONOS
IONOS.docx