{% extends "base.html" %}
{% block title %}Bingo Online{% endblock %}

{% block extra_css %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/bingo.css') }}">
{% endblock %}

{% block content %}
<section class="bingo-lobby">
    <h1>🎱 Bingo Online</h1>

    <div class="bingo-card">
        <p class="bingo-user">
            👤 Jugando como <strong>{{ session.username }}</strong>
        </p>

    </div>

    <form method="post" class="bingo-card" onsubmit="guardarNombre(); return true;">
        <button class="btn-primary">Crear sala</button>
    </form>

    <div class="bingo-card">
        <h3>Unirse a una sala</h3>
        <input type="text" id="codigoSala" placeholder="Código de sala">
        <button class="btn-secondary" id="btnUnirse">Entrar</button>
    </div>
</section>



<script src="{{ url_for('static', filename='js/bingo/lobby.js') }}?v=20260203"></script>
{% endblock %}