.chess-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.board-wrapper {
    display: flex;
    justify-content: center;
    width: 100%;
    margin-top: 20px;
}

.chessboard {
    display: grid;
    grid-template-columns: repeat(8, 70px);
    grid-template-rows: repeat(8, 70px);
    border: 3px solid #333;
}



#chessboard {
    display: grid;
    grid-template-columns: repeat(8, 70px);
    grid-template-rows: repeat(8, 70px);
    border: 3px solid #333;
    width: max-content;
}

.square {
    width: 70px;
    height: 70px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 40px;
    cursor: pointer;
}

.white {
    background-color: #f0d9b5;
}

.black {
    background-color: #b58863;
}

.selected {
    outline: 3px solid red;
}
