{% extends "base.html" %}

{% block title %}Ajedrez{% endblock %}

{% block extra_css %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/chess.css') }}">
{% endblock %}

{% block content %}
<div class="game-container chess-container">
    <h1>♟️ Ajedrez</h1>

    <!-- Panel de estado -->
    <div class="top-info">
        <div id="turno">Turno: Blancas</div>
    </div>

    <hr />

    <!-- Tablero -->
    <div id="chessboard" class="chessboard"></div>

    <!-- Mensajes / info futura -->
    <div id="message" class="message"></div>

    <div class="top-info">
            <button id="resetGame" class="chess-boton small">
                🔄 Reiniciar partida
            </button>            
            <br><br>
            <a href="{{ url_for('main.home') }}" class="chess-boton">⬅ Volver a Juegos JCM</a>
        </div>
    </div>

</div>
{% endblock %}

{% block extra_js %}
<script type="module" src="{{ url_for('static', filename='js/chess/chess.js') }}"></script>
{% endblock %}
