{% extends "base.html" %}
{% block title %}Sala Bingo{% endblock %}


{% block extra_css %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/bingo.css') }}">
{% endblock %}

{% block content %}
<section class="bingo-sala">
    <div id="nombreModal" class="nombre-modal">
        <h3>🎱 Nombre para el bingo</h3>

        <input
            type="text"
            id="nombreInput"
            placeholder="Escribe tu nombre"
            maxlength="20"
        />

        <button id="entrarBingoBtn">Entrar</button>
    </div>

    <h1>🎱 Sala de Bingo</h1>
    <p>Código de sala: <strong>{{ codigo }}</strong></p>

    <div id="estado">
        Esperando jugadores...
    </div>

    <p id="ultima-bola"></p>

    <button
        id="startGameBtn"
        class="btn-primary"
        style="display: none;"
    >
        ▶️ Iniciar partida
    </button>


    <!-- Botón solo para el host -->
    <button id="newBallBtn" class="btn-primary" style="display:none;">
        🎱 Sacar bola
    </button>
    <div class="auto-controls">
        <button id="autoPlayBtn" class="btn-auto">
            ▶ Auto
        </button>

        <button id="pauseAutoBtn" class="btn-auto pause" style="display:none;">
            ⏸ Pausa
        </button>

        <span id="autoCountdown" class="auto-countdown" style="display:none;">
            ⏳ 20s
        </span>
    </div>



    <p id="ultima-bola"></p>

    <div class="historial-bolas">
        <h3>Historial de bolas</h3>
        <div id="bolas-container"></div>
    </div>



    <div id="carton" class="carton"></div>


    <button id="resetBtn" class="btn-secondary">
        🔄 Salir de la sala
    </button>


    <!-- Aquí se pintan los cartones -->
    <div id="carton-container"></div>
</section>

{% endblock %}

{% block extra_js %}
<script type="module" src="/static/js/bingo/sala.js"></script>
{% endblock %}
